:host {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: 0.3s all;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;

  // Vendor prefixes
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;

  .btn-small,
  .btn {
    grid-row: 1 / 3;
    justify-self: end;
    align-self: center;
    -ms-flex-item-align: center;
  }
}

.card {
  &__header {
    position: relative;
  }

  &__picture {
    position: relative;
    height: 22rem;
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  }

  &__picture-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: linear-gradient(to right bottom, #aa59fb, #e84774c7);
    background-image: -webkit-gradient(linear, left top, right bottom, from(#aa59fbd1), to(#e84774c7));
  }

  &__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2.5rem 3rem;
  }

  &__sub-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / -1;
  }

  &__text {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -1rem;
    margin-bottom: 0.75rem;
  }

  &__data {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;

    svg {
      margin-right: 0.7rem;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: #9b4fc5;

    &-edit {
      fill: ghostwhite;
    }
  }

  &__footer {
    background-color: #f7f7f7;
    padding: 2.5rem 3rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;
  }

  &__footer-value {
    font-weight: 700;
  }

  &__footer-text {
    color: #999;
  }

  &__ratings {
    grid-row: 2 / 3;
  }

  &__btn-edit {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    right: 0.3rem;
    top: 0.3rem;
    padding: .5rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }
}
