<ul class="side-nav">
  <!-- navItem('#', 'Settings', 'settings', true) -->
  <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="['settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <svg>
        <use xlink:href="/assets/img/icons.svg#icon-settings"></use>
      </svg>
      Settings
    </a>
  </li>

  <!-- navItem('/my-tours', 'My bookings', 'briefcase') -->
  <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="['my-bookings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <svg>
        <use xlink:href="/assets/img/icons.svg#icon-briefcase"></use>
      </svg>
      My bookings
    </a>
  </li>

  <!-- navItem('#', 'My reviews', 'star') -->
  <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="['my-reviews']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <svg>
        <use xlink:href="/assets/img/icons.svg#icon-star"></use>
      </svg>
      My reviews
    </a>
  </li>

  <!-- navItem('#', 'Billing', 'credit-card') -->
  <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="['billing']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <svg>
        <use xlink:href="/assets/img/icons.svg#icon-credit-card"></use>
      </svg>
      Billing
    </a>
  </li>
</ul>

¨@if (role() === 'admin') {
<div class="admin-nav">
  <h5 class="admin-nav__heading">Admin</h5>
  <ul class="side-nav">
    <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['tours']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg>
          <use xlink:href="/assets/img/icons.svg#icon-map"></use>
        </svg>
        Manage tours
      </a>
    </li>
    <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg>
          <use xlink:href="/assets/img/icons.svg#icon-users"></use>
        </svg>
        Manage users
      </a>
    </li>
    <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['reviews']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg>
          <use xlink:href="/assets/img/icons.svg#icon-star"></use>
        </svg>
        Manage reviews
      </a>
    </li>
    <li [routerLinkActive]="['side-nav--active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['bookings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <svg>
          <use xlink:href="/assets/img/icons.svg#icon-briefcase"></use>
        </svg>
        Manage bookings
      </a>
    </li>
  </ul>
</div>
}