@use '../../../../assets/styles/mixins.scss'as *;

.user-view {
  position: relative;
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &__menu {
    -webkit-box-flex: 32rem;
    -ms-flex: 32rem 0 0px;
    flex: 32rem 0 0;
    height: 100%;
    background-image: -webkit-gradient(linear,
        left top,
        right bottom,
        from(#aa59fb),
        to(#e84774));
    background-image: linear-gradient(to right bottom, #aa59fb, #e84774);
    padding: 4rem 0;
    transition: all 0.3s;

    @include respond(lg-max) {
      position: fixed;
      left: -59%;
      width: 60%;
      height: 65%;
      z-index: 99;
      box-shadow: 2px 0px 6px 1px #bf70ad;
    }

    @include respond(md) {
      height: unset;
    }
  }

  &__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 7rem 0;

    &--wide {
      padding: 2rem 0;
    }
  }

  &__checkbox {
    display: none;

    &:checked~.user-view__navigation {
      left: 60%;
      transform: rotate(180deg);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      box-shadow: -1px -1px 6px 1px #bf70ad;
    }

    &:checked~.user-view__menu {
      left: 0;
    }

    &:checked~.overlay {
      display: block;
    }
  }

  &__navigation {
    display: flex;
    position: fixed;
    left: 0;
    z-index: 100;
    background: #ca50b7;
    width: 5rem;
    height: 4rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 1px 6px 1px #bf70ad;
    transition: all 0.3s;

    @include respond(lg) {
      display: none;
    }

    &>svg {
      width: 3rem;
      height: 3rem;
      fill: white;
      transition: all 0.3s;
    }
  }
}

.loading {
  display: block;
  padding: 2rem;
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgb(201 80 184 / 10%);
  z-index: 90;
}
