.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &__menu {
    -webkit-box-flex: 32rem;
    -ms-flex: 32rem 0 0px;
    flex: 32rem 0 0;
    background-image: -webkit-gradient(linear,
        left top,
        right bottom,
        from(#aa59fb),
        to(#e84774));
    background-image: linear-gradient(to right bottom, #aa59fb, #e84774);
    padding: 4rem 0;
  }

  &__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 7rem 0;

    &--wide {
      padding: 2rem 0;
    }
  }
}

.loading {
  display: block;
  padding: 2rem;
  text-align: center;
}
