@use '../../../assets/styles/mixins.scss'as *;

.header {
  background-color: #444;
  padding: 0 1rem;
  height: 8rem;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(sm) {
    padding: 2rem;
    gap: 1.5rem;
  }

  @include respond(lg) {
    padding: 0 5rem;
  }

  &__logo {
    img {
      height: 3rem;
    }

    @include respond(md) {
      height: 3.5rem;
    }
  }

  &__hero {
    height: 100%;

    &-img {
      object-fit: cover;
      object-position: 50% 25%;
      height: 100%;
      width: 100%;
    }

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right bottom, #aa59fb, #e84774);
      opacity: 0.85;
    }
  }
}

.section-header {
  position: relative;
  height: 38vw;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
}

.nav {
  display: flex;
  align-items: center;

  &__el {
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;

    &:hover,
    &:active {
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem black;
    }

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &:focus {
      outline: none;
    }

    &--cta {
      padding: 0.8rem 2.6rem;
      border-radius: 10rem;
      border: 1px solid currentColor !important;
      transition: all 0.3s;

      &:hover {
        background-color: #f7f7f7;
        color: #777;
        text-shadow: none;
        border-color: #f7f7f7;
      }

      @include respond(md) {
        padding: 1rem 3rem;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 37.5em) {
      order: -1;
      margin-bottom: 1.2rem;
    }

    &-btn {
      background: none;
      border: none;
      margin-right: 0.8rem;
      transform: translateY(1px);

      svg {
        height: 2rem;
        width: 2rem;
        fill: #f7f7f7;
      }
    }

    &-input {
      font-family: inherit;
      font-weight: inherit;
      text-transform: uppercase;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #f7f7f7;
      padding-bottom: 3px;
      border-bottom: 1px solid #999;
      width: 18rem;
      transition: all 0.3s;

      &::placeholder {
        color: #999;
      }

      &:focus {
        outline: none;
        width: 25rem;
        border-bottom: 1px solid currentColor;
      }
    }
  }

  &__user-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
