<div class="form-container">
  <h2 class="heading-secondary ma-bt-lg">Reset password</h2>
  <form class="form form--login" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__group ma-bt-md" formGroupName="passwords">
      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Password</label>
        <input id="password" class="form__input" type="password" placeholder="••••••••" formControlName="password" />
      </div>
      <div class="form__group ma-bt-md">
        <label class="form__label" for="passwordConfirm">Confirm Password</label>
        <input id="passwordConfirm" class="form__input" type="password" placeholder="••••••••"
          formControlName="passwordConfirm" />
      </div>
    </div>
    <div class="form__group form__group--actions">
      <button class="btn btn--green" type="submit" [disabled]="form.get('passwords')?.hasError('valuesNotEqual')">
        {{ loading ? 'Reseting...' : 'Reset' }}
      </button>
    </div>

    @if (passwordIsInvalid) {
    <p class="form__error">
      Please enter valid password (at least 6 characters long).
    </p>
    }

    @if (passwordConfirmIsInvalid) {
    <p class="form__error">
      Please enter valid password to confirm (at least 6 characters long).
    </p>
    }

    @if (passwordsGroup.hasError('valuesNotEqual')) {
    <p class="form__error">
      Passwords do not match!
    </p>
    }
  </form>
</div>