<div class="form-container">
  <h2 class="heading-secondary ma-bt-lg">Reset password</h2>
  <form class="form form--login" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__group ma-bt-md" formGroupName="passwords">
      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Password</label>
        <input #passwordInput id="password" class="form__input" type="password" placeholder="••••••••"
          formControlName="password" appControlError />
        <app-btn-pass-visible [input]="passwordInput" />
      </div>
      <div class="form__group ma-bt-md">
        <label class="form__label" for="passwordConfirm">Confirm Password</label>
        <input #passwordConfirmInput id="passwordConfirm" class="form__input" type="password" placeholder="••••••••"
          formControlName="passwordConfirm" appControlError />
        <app-btn-pass-visible [input]="passwordConfirmInput" />
      </div>
    </div>
    <div class="form__group form__group--actions">
      <button class="btn btn--green" type="submit"
        [disabled]="form.invalid || form.get('passwords')?.hasError('valuesNotEqual')">
        {{ loading ? 'Resetting...' : 'Reset' }}
      </button>
    </div>
  </form>
</div>