.footer {
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  justify-content: space-between;

  @media only screen and (max-width: 50em) {
    padding: 3rem 2rem;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
  }

  &__logo {
    grid-row: 1 / 3;
    align-self: center;

    @media only screen and (max-width: 50em) {
      grid-row: 1;
    }

    img {
      height: 3rem;
    }
  }

  &__nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 1.5rem;
      text-align: center;
    }

    a {
      color: #777;
      text-decoration: none !important;
      transition: all 0.2s;

      &:hover,
      &:active {
        color: #8001c6;
      }
    }
  }

  &__copyright {
    justify-self: end;
    color: #999;

    @media only screen and (max-width: 50em) {
      justify-self: center;
    }
  }
}
