@if (tours$ | async; as tours) {
@if (tours.length > 0) {
@for (tour of tours; track tour._id) {
<app-card [tour]="tour"></app-card>
}
}
@else {
<div class="no-tours-message heading-secondary">
  {{!isMyBookingPage ? 'No tours found. Please try later again.' : 'No tours find. Book tour and try again.'}}
</div>
}
}
@else {
<div class="loading-message heading-secondary">
  Loading tours...
  <p class="temp-info">It's free hosting... If needed wait server to wake up <span>🤭☺️</span></p>
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration="1s"
    [style]="{ width: '50px', height: '50px' }" />
</div>
}