<div class="form-container">
  <h2 class="heading-secondary ma-bt-lg">Log into your account</h2>
  <form class="form form--login" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <label class="form__label" for="email">Email address</label>
      <input id="email" class="form__input" type="email" placeholder="you@example.com"
        [formControl]="form.controls.email" />
    </div>
    <div class="form__group ma-bt-md">
      <label class="form__label" for="password">Password</label>
      <input #passwordInput id="password" class="form__input" type="password" placeholder="••••••••"
        formControlName="password" />
      <app-btn-pass-visible [input]="passwordInput" />
    </div>
    <div class="form__group form__group--actions">
      <button class="btn btn--green" type="submit" [disabled]="emailIsInvalid || passwordIsInvalid">
        {{ loading ? 'Logging in...' : 'Login' }}
      </button>
      <a [routerLink]="['/users/forgotPassword']" class="btn btn--white">Forgot password</a>
    </div>

    @if (emailIsInvalid) {
    <p class="form__error">
      Please enter valid email address.
    </p>
    }

    @if (passwordIsInvalid) {
    <p class="form__error">
      Please enter valid password (at least 8 characters long).
    </p>
    }
  </form>
</div>