@use "../../../assets/styles/mixins.scss"as *;

.section-header {
  position: relative;
  height: 52vw;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);

  @include respond(md) {
    height: 38vw;
  }
}

.header__hero {
  height: 100%;

  &-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -o-object-position: 50% 25%;
    object-position: 50% 25%;
  }

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#aa59fbd1), to(#e84774c7));
    background-image: linear-gradient(to right bottom, #aa59fbd1, #e84774c7);
    opacity: 0.85;
  }
}

.heading-box {
  position: absolute;
  top: 3rem;
  width: 100%;
  height: 100%;

  @include respond(xl) {
    bottom: 13vw;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: unset;
    height: unset;

  }

  &__group {
    color: #f7f7f7;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__detail {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);

    svg {
      margin-right: 0.8rem;
    }

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    -webkit-filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
  }
}

.section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - var(--section-rotate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  @include respond(md) {
    flex-direction: row;
  }

  >* {
    padding: 0 8vw;
    padding-top: 14vw;
    padding-bottom: calc(1vw + var(--section-rotate));
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

.description-box {
  .description {
    margin-right: 5rem;
  }

  .description__text {
    font-size: 1.7rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon(0 var(--section-rotate), 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
  -webkit-clip-path: polygon(0 var(--section-rotate), 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;

  &--1 {
    padding-top: 15%;
  }

  &--2 {
    padding-bottom: 15%;
  }

  &--3 {
    padding-bottom: 27%;
  }
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right bottom, from(#aa59fb), to(#e84774));
  background: linear-gradient(to right bottom, #aa59fb, #e84774);
  clip-path: polygon(0 var(--section-rotate), 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
  -webkit-clip-path: polygon(0 var(--section-rotate), 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
}

.reviews {
  padding: 5rem 0;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;

  &:before,
  &:after {
    content: '';
    width: 2rem;
  }
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(15rem + var(--section-rotate));
  background-color: #f7f7f7;
}

.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);

  &__img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
    box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);

    &--logo {
      padding: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: -webkit-gradient(linear, left top, right bottom, from(#aa59fb), to(#e84774));
      background: linear-gradient(to right bottom, #aa59fb, #e84774);
      z-index: 10;
      -webkit-transform: translate(-35%, -50%);
      transform: translate(-35%, -50%);

      img {
        width: 100%;
      }
    }

    &--1 {
      -webkit-transform: translate(-10%, -50%) scale(0.97);
      transform: translate(-10%, -50%) scale(0.97);
      z-index: 9;
    }

    &--2 {
      -webkit-transform: translate(15%, -50%) scale(0.94);
      transform: translate(15%, -50%) scale(0.94);
      z-index: 8;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    @include respond(md) {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      grid-gap: 0.7rem;
      grid-auto-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  &__text {
    font-size: 1.9rem;
    font-weight: 400;
  }
}

.loading {
  display: block;
  padding: 2rem;
  text-align: center;
}

.error {
  display: block;
  padding: 2rem;
  text-align: center;
}

.p-progressspinner {
  margin-top: 2rem;
}

.temp-info {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #cf7bd4;
}
