@if(user$ | async; as user) {
<div class="form-account__container">
  <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form form-user-data">
    <div class="form__group">
      <label class="form__label" for="name">Name</label>
      <input id="name" class="form__input" type="text" formControlName="name" />
    </div>
    <div class="form__group ma-bt-md">
      <label class="form__label" for="email">Email address</label>
      <input id="email" class="form__input" type="email" formControlName="email" />
    </div>
    <div class="form__group form__photo-upload">
      <img class="form__user-photo" [src]="photoPreview || `http://localhost:3000/img/users/${user?.photo}`"
        alt="User photo" />
      <input class="form__upload" type="file" accept="image/*" id="photo" name="photo"
        (change)="onFileSelected($event)" />
      <label for="photo">Choose new photo</label>
    </div>

    <div class="form__group right">
      <button class="btn btn--small btn--green" type="submit"
        [disabled]="form.invalid || (form.value.name?.trim() === user.name && form.value.email?.trim() === user.email && !form.value.photo)">
        Save settings
      </button>
    </div>
  </form>
</div>

<div class="line">&nbsp;</div>

<div class="form-account__container">
  <h2 class="heading-secondary ma-bt-md">Password change</h2>
  <form [formGroup]="formPasswords" (ngSubmit)="onSubmitPassword()" class="form form-user-password">
    <div class="form__group">
      <label class="form__label" for="passwordCurrent">Current password</label>
      <input #passwordCurrentInput id="passwordCurrent" class="form__input" type="password" placeholder="••••••••"
        formControlName="passwordCurrent" />
      <app-btn-pass-visible [input]="passwordCurrentInput" />
    </div>
    <div class="form__group">
      <label class="form__label" for="password">New password</label>
      <input #passwordInput id="password" class="form__input" type="password" placeholder="••••••••"
        formControlName="password" />
      <app-btn-pass-visible [input]="passwordInput" />
    </div>
    <div class="form__group ma-bt-lg">
      <label class="form__label" for="passwordConfirm">Confirm password</label>
      <input #passwordConfirmInput id="passwordConfirm" class="form__input" type="password" placeholder="••••••••"
        formControlName="passwordConfirm" />
      <app-btn-pass-visible [input]="passwordConfirmInput" />
    </div>
    <div class="form__group right">
      <button class="btn btn--small btn--green btn--save-password" type="submit"
        [disabled]="formPasswords.invalid || formPasswords.hasError('valuesNotEqual')">
        Save password
      </button>
    </div>

    @if (passwordCurrentIsInvalid) {
    <p class="form__error">
      Please enter valid password (at least 8 characters long).
    </p>
    }

    @if (passwordIsInvalid) {
    <p class="form__error">
      Please enter valid password (at least 8 characters long).
    </p>
    }

    @if (passwordConfirmIsInvalid) {
    <p class="form__error">
      Please enter valid password to confirm (at least 8 characters long).
    </p>
    }

    @if (formPasswords.hasError('valuesNotEqual')) {
    <p class="form__error">
      Passwords do not match!
    </p>
    }
  </form>
</div>

<div class="line">&nbsp;</div>

<div class="form-account__container">
  <h2 class="heading-secondary ma-bt-md">Delete Account</h2>
  <div class="form__group right">
    <button class="btn btn--small btn--white btn--save-password" type="button" (click)="onDeleteAccount()">
      Delete Account
    </button>
  </div>
</div>
}