.location-group {
  position: relative;
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  border-bottom: 1px solid #e7cdff;

  &>span {
    position: absolute;
    top: -0.5rem
  }

}

.coordinates {
  display: flex;
  column-gap: 1rem;
}

.selected-guides {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 5rem;
  font-size: 1.6rem;
}

.btn--add {
  padding: 0.7rem 1.4rem !important;
  border-radius: 4px;
  font-size: 1.2rem !important;
  margin-left: 2rem;
  color: #8001c6;
  background-color: #e7cdff;
  border: 2px solid #da97ff;
}

.btn--delete-rel {
  position: relative !important;
  top: -0.2rem;
  right: unset;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
