@if(user$ | async; as user) {
<div class="form-account__container form-account__container--wide">
  <h2 class="heading-secondary ma-bt-md">Tour settings</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form form-user-data">
    <div class="form__group">
      <label class="form__label" for="name">Name<span class="form__label-asterisc">⁎</span></label>
      <input id="name" class="form__input" type="text" formControlName="name" placeholder="min: 10 - max: 40 chars" />
    </div>
    <fieldset>
      <div class="form__group form__group--basis">
        <label class="form__label" for="duration">Duration<span class="form__label-asterisc">⁎</span></label>
        <input id="duration" class="form__input" type="number" formControlName="duration" />
      </div>
      <div class="form__group form__group--basis">
        <label class="form__label" for="group-size">Max group size<span class="form__label-asterisc">⁎</span></label>
        <input id="group-size" class="form__input" type="number" formControlName="groupSize" />
      </div>
      <div class="form__group form__group--basis">
        <label class="form__label" for="difficulty">Difficulty<span class="form__label-asterisc">⁎</span></label>
        <select id="difficulty" name="difficulty" formControlName="difficulty" class="wd-100">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="difficult">Difficult</option>
        </select>
      </div>
      <div class="form__group form__group--basis">
        <label class="form__label" for="price">Price<span class="form__label-asterisc">⁎</span></label>
        <input id="price" class="form__input" type="number" formControlName="price" />
      </div>
      <div class="form__group form__group--basis">
        <label class="form__label" for="discount">Price discount</label>
        <input id="discount" class="form__input" type="number" formControlName="discount" />
      </div>
      <div *ngIf="form.hasError('notGreater') && form.get('discount')?.touched">
        Price must be greater than discount.
      </div>
      <div class="form__group form__group--basis form__checkbox">
        <input type="checkbox" id="secret" class="form__input" name="secret" formControlName="secret" />
        <label class="form__label" for="secret">Secret tour</label>
      </div>
    </fieldset>

    <fieldset class="flex--vertical">
      <div class="form__group ma-bt-md wd-100">
        <label class="form__label" for="summary">Summary<span class="form__label-asterisc">⁎</span></label>
        <textarea id="summary" class="form__input" rows="2" formControlName="summary"></textarea>
      </div>
      <div class="form__group ma-bt-md wd-100">
        <label class="form__label" for="description">Description</label>
        <textarea id="description" class="form__input" rows="3" formControlName="description"></textarea>
      </div>
    </fieldset>

    <fieldset class="flex--just-center">
      <legend>Cover image<span class="form__label-asterisc">⁎</span>&nbsp;and tour images</legend>
      <div class="form__group form__photo-upload ma-bt-none">
        <img class="form__tour-photo" [src]="coverPreview || 'http://localhost:3000/img/tours/placeholder.png'"
          alt="Cover image preview" />
        <input #coverInput class="form__upload" type="file" accept="image/*" id="imageCover"
          (change)="onFileSelected($event, 'cover')" />
        <button *ngIf="coverPreview" type="button" (click)="removeImage('cover', coverInput)" class="btn--delete">
          ✖️
        </button>
        <label for="imageCover">cover</label>
      </div>
      <div class="form__group form__photo-upload ma-bt-none" *ngFor="let img of [1,2,3]">
        <img class="form__tour-photo" [src]="imagePreviews[img] || 'http://localhost:3000/img/tours/placeholder.png'"
          alt="Tour image preview" />
        <input #fileInput class="form__upload" type="file" accept="image/*" [id]="'image' + img"
          (change)="onFileSelected($event, img)" />
        <button *ngIf="imagePreviews[img]" type="button" (click)="removeImage(img, coverInput)" class="btn--delete">
          ✖️
        </button>
        <label [for]="'image' + img">image {{ img }}</label>
      </div>
    </fieldset>

    <fieldset formArrayName="startDates">
      <legend>Start Dates</legend>
      <div class="form__group" *ngFor="let date of startDates.controls; let i = index" [formGroupName]="i">
        <label class="form__label" for="date">{{i + 1}}. start date</label>
        <input id="date" class="form__input" type="date" formControlName="date" />
        <button type="button" class="btn--delete" (click)="removeDate(i)">✖️</button>
      </div>
      <button type="button" class="btn btn--small btn--white btn--icon" (click)="addDate()">➕</button>
    </fieldset>

    <fieldset formGroupName="startLocation">
      <legend>Start Location</legend>
      <div formGroupName="startCoordinates" class="coordinates">
        <div class="form__group">
          <label class="form__label" for="start-lon">Longitude</label>
          <input id="start-lon" class="form__input" type="number" formControlName="startLong" />
        </div>
        <div class="form__group">
          <label class="form__label" for="start-lat">Latitude</label>
          <input id="start-lat" class="form__input" type="number" formControlName="startLat" />
        </div>
      </div>
      <div class="form__group flex--grow">
        <label class="form__label" for="address">Address</label>
        <input id="address" class="form__input" type="text" formControlName="startAddress" />
      </div>
      <div class="form__group wd-100">
        <label class="form__label" for="description">Description</label>
        <input id="description" class="form__input" type="text" formControlName="startDescription" />
      </div>
    </fieldset>

    <fieldset formArrayName="locations">
      <legend>Locations</legend>
      <div *ngFor="let loc of locations.controls; let i = index" [formGroupName]="i" class="location-group">
        <span>Location {{i + 1}}</span>
        <div class="form__group coordinates" formGroupName="coordinates">
          <div class="form__group">
            <label class="form__label">Longitude</label>
            <input class="form__input" type="number" formControlName="long" />
          </div>
          <div class="form__group">
            <label class="form__label">Latitude</label>
            <input class="form__input" type="number" formControlName="lat" />
          </div>
        </div>
        <div class="form__group flex--grow">
          <label class="form__label">Address</label>
          <input class="form__input" type="text" formControlName="address" />
        </div>
        <div class="form__group wd-100">
          <label class="form__label">Description</label>
          <input class="form__input" type="text" formControlName="description" />
        </div>
        <button type="button" class="btn--delete" (click)="removeLocation(i)">✖️</button>
      </div>
      <hr>
      <button type="button" class="btn btn--small btn--white btn--icon" (click)="addLocation()">➕</button>
    </fieldset>

    <fieldset formArrayName="guides">
      <legend>Guides</legend>
      <div class="form__group  form__group--basis">
        <div class="form__group">
          <label class="form__label" for="guide-select">Select a guide</label>
          <select id="guide-select" class="wd-100" [formControl]="guideSelectControl">
            <option [ngValue]="null" disabled></option>
            <option *ngFor="let guide of guides" [ngValue]="guide">
              {{ guide.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form__group ma-bt-none">
        <button type="button" (click)="addGuide()" class="btn btn--small btn--green btn--add">Add</button>
      </div>
      <div class="form__group selected-guides" *ngIf="guidesArray.controls.length > 0">
        <div *ngFor="let g of guidesArray.controls; let i = index" [formGroupName]="i">
          <img class="form__guide-photo"
            [src]="`http://localhost:3000/img/users/${g.value.photo}` || `http://localhost:3000/img/users/default.jpg`">
          <span>
            {{ g.value.name }} ({{ g.value.role }})
          </span>
          <button type="button" (click)="removeGuide(i)" class="btn--delete btn--delete-rel">✖️</button>
        </div>
      </div>
    </fieldset>
    <div class="form__group right">
      <button class="btn btn--small btn--green" type="submit">
        Save
      </button>
    </div>
  </form>
</div>
}