@use "./variables.scss"as *;
@use "./mixins"as *;

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;

  @include respond(md) {
    font-size: 62.5%;
  }
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  // padding: .5rem;

  // @include respond(md) {
  // padding: 2rem;
  // }

  // @include respond(lg) {
  // padding: 3rem;
  // }
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // /* Optional: ensure full viewport height */
}
