:root {
  --color-primary: #9b4fc5;
  ;
  --color-primary-contrast: #ffffff;

  --color-secondary: #e5487a;
  // --color-secondary-contrast: #000000;

  // --color-accent: #4caf50;

  --p-progressspinner-color-one: #f8a2fb !important;
  --p-progressspinner-color-two: #c352c5 !important;
  --p-progressspinner-color-three: #e84774 !important;
  --p-progressspinner-color-four: #f37fa0 !important;
}
