@use "./mixins"as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;

  @include respond(md) {
    padding: 5rem 3rem;
  }

  @include respond(lg) {
    padding: 8rem 6rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &--vertical {
    flex-direction: column;
  }

  &--just-center {
    justify-content: center;
  }

  &--grow {
    flex-grow: 1;
  }

  &--bottom-line {
    align-items: baseline;
  }

  &--al-selfc {
    align-self: center;
  }
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.ma-bt-none {
  margin-bottom: 0 !important;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-bt-xl {
  margin-bottom: 4.5rem !important;
}

.wd-100 {
  width: 100%
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.br-bottom {
  border-bottom: 1px solid #e7cdff;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#aa59fb),
      to(#e84774));
  background-image: linear-gradient(to right, #aa59fb, #e84774);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.heading-secondary--error {
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#ff7730),
      to(#eb4d4b));
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.heading-primary,
.heading-tertiary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.heading-primary span,
.heading-tertiary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(linear,
      left top,
      right bottom,
      from(#aa59fbd9),
      to(#e84774d9));
  background-image: linear-gradient(to bottom right,
      #aa59fbd9,
      #e84774d9);
}

.heading-primary {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;

  @include respond(md) {
    font-size: 5rem;
  }

  @include respond(lg) {
    width: 70%;
    font-size: 5rem;
  }
}

.heading-tertiary {
  font-size: 2.75rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  z-index: 10;
}
