@use "./mixins"as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;

  @include respond(md) {
    padding: 5rem 3rem;
  }

  @include respond(lg) {
    padding: 8rem 6rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-bt-xl {
  margin-bottom: 4.5rem !important;
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#7dd56f),
      to(#28b487));
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.heading-secondary--error {
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(#ff7730),
      to(#eb4d4b));
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.heading-primary,
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.heading-primary span,
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(linear,
      left top,
      right bottom,
      from(rgba(125, 213, 111, 0.85)),
      to(rgba(40, 180, 135, 0.85)));
  background-image: linear-gradient(to bottom right,
      rgba(125, 213, 111, 0.85),
      rgba(40, 180, 135, 0.85));
}

.heading-primary {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;

  @include respond(md) {
    font-size: 5rem;
  }

  @include respond(lg) {
    width: 70%;
    font-size: 5rem;
  }
}

.heading-tertirary {
  font-size: 2.75rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  z-index: 10;
}
