<div class="form-container">
  <h2 class="heading-secondary ma-bt-lg">Create your account</h2>
  <form [formGroup]="form" class="form form--signup" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <label class="form__label" for="name">Name</label>
      <input id="name" class="form__input" type="text" formControlName="name" />
    </div>

    <div class="form__group">
      <label class="form__label" for="email">Email</label>
      <input id="email" class="form__input" type="email" placeholder="you@example.com" formControlName="email" />
    </div>

    <div class="form__group" formGroupName="passwords">
      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Password</label>
        <input #passwordInput id="password" class="form__input" type="password" placeholder="••••••••"
          formControlName="password" />
        <app-btn-pass-visible [input]="passwordInput" />
      </div>
      <div class="form__group ma-bt-md">
        <label class="form__label" for="passwordConfirm">Confirm Password</label>
        <input #passwordConfirmInput id="passwordConfirm" class="form__input" type="password" placeholder="••••••••"
          formControlName="passwordConfirm" />
        <app-btn-pass-visible [input]="passwordConfirmInput" />
      </div>
    </div>

    <button class="btn btn--green" type="submit"
      [disabled]="form.invalid || form.get('passwords')?.hasError('valuesNotEqual')">
      {{ loading ? 'Signing up...' : 'Sign up' }}
    </button>

    @if (nameIsEmpty) {
    <p class="form__error">
      Name field cannot be empty.
    </p>
    }

    @if (passwordIsInvalid) {
    <p class="form__error">
      Please enter valid password (at least 8 characters long).
    </p>
    }

    @if (passwordConfirmIsInvalid) {
    <p class="form__error">
      Please enter valid password to confirm (at least 8 characters long).
    </p>
    }

    @if (passwordsGroup.hasError('valuesNotEqual')) {
    <p class="form__error">
      Passwords do not match!
    </p>
    }
  </form>
</div>